<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Bienvenido a la Aplicación de Gestión de Cursos</h1>
<a th:href="@{/cursos}">Ver Cursos</a>
<a th:href="@{/especializaciones}">Ver Especializaciones</a>
<a th:href="@{/estudiantes}">Ver Estudiantes</a>
<a th:href="@{/profesores}">Ver Profesores</a>
<a th:href="@{/estudiantes_cursos}">Ver Estudiantes en Cursos</a>
</body>
</html>
