<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Academia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <style>

    </style>
</head>
<body>
<div class="container">
    <h1>Proyecto</h1>
    <div class="nav">
        <a href="/profesores">
            <input type="button" value="Profesores" />
        </a>
        <a href="/cursos">
            <input type="button" value="Cursos" />
        </a>
        <a href="/estudiantes">
            <input type="button" value="Estudiantes" />
        </a>
    </div>
</div>
</body>
</html>
